<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Database</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <div id="content">
    <form action="/do" method="post">
      <h1>Query Zone</h1>
      <a href="/disconnect">Disconn</a>
      <textarea name="query"><%= que %></textarea><br>
      <input type="submit" value="Submit"><br>
      <br>
      <input type="button" value="Toggle Mode" onclick="switch_mode()"> <br>
      <b>output ( <label id="mode"></label> ):</b> <br>
      <div id="console">
        <textarea readonly>
          <%= rlog %>
        </textarea>
      </div>
      <div id="table"></div>
      <br>
    </form>
  </div>
  <script type="text/javascript">
    var mode = "table";

    var table = document.getElementById("table");

    function switch_mode() {
      var show = document.getElementById(mode);
      show.style.display = "none";

      if(mode == "console") mode = "table";
      else mode = "console";
      
      show = document.getElementById(mode);
      show.style.display = "block";

      document.getElementById("mode").innerHTML = mode;
    }
    switch_mode();

    var data = <%- rlog %>;

    function tables(){
      var text = "";
      
      text += "<table>";
      
      text += "<tr>";
      for(let th in data.rows[0]){
        text += "<th>"+th+"</th>";
      }
      text += "</tr>";
      for(let row of data.rows){
        text += "<tr>";
        for(let dt in row){
          text += "<td>"+row[dt]+"</td>";
        }
        text += "</tr>";
      }
      text += "</table>";

      table.innerHTML = text;
    }
    if(data.command == "SELECT") tables();
    else table.innerHTML = data.rowCount+" changed";
  </script>
</body>
</html>
