<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Database</title>
</head>
<body>
  <form action="/do" method="post">
    <h1>Query Zone</h1>
    <a href="/disconnect">Disconn</a>
    <textarea style="resize: none; width: 100%; height: 500px;" name="query"></textarea><br>
    <input type="submit" value="Submit"><br>
    <br>
    <b>output:</b> <br>
    <textarea style="resize: none; width: 100%; height: 500px;" readonly>
      <%= rlog %>
    </textarea>
    <br>
    
  </form>
</body>
</html>
