<!DOCTYPE html>
<html>
<head>
  <title>Hello Database</title>
</head>
<body>
  <form action="/do" method="post">
    <h1>Query Zone</h1>
    <input style="width: 100%; height: 500px;" type="text" name="query"><br>
    <input type="submit" value="Submit"><br>
    <br>
    <b>output:</b> <br>
    <%= rlog %>
    <br>
    
  </form>
</body>
</html>
