<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Database</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <div id="content">
    <h1>Database Manager</h1>
    <a href="/disconnect">Disconn</a><br>
    <br>
    <div id="table"></div>
    <br>
  </div>
  <script type="text/javascript">
    var table = document.getElementById("table");

    var data = <%- data %>;
    var dir = <%- dir %>;

    function lists(){
      var text = "";
      
      text += "<b>Public Table</b><br>";
      for(let row of data.rows){
        text += "- <a href='ui?dir="+row.table_name+"'>"+row.table_name+"</a><br>";
      }

      table.innerHTML = text;
    }

    function tables(){
      var text = "";
      
      text += "<a href='ui'>Back</a>";
      text += "<table>";
      
      text += "<tr>";
      for(let th in data.rows[0]){
        text += "<th>"+th+"</th>";
      }
      text += "</tr>";
      for(let row of data.rows){
        text += "<tr>";
        for(let dt in row){
          text += "<td>"+row[dt]+"</td>";
        }
        text += "</tr>";
      }
      text += "</table>";
      table.innerHTML = text;
    }
    
    if(!dir) lists();
    else if(dir) tables();
  </script>
</body>
</html>
