<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Database</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
    <h1>Database Manager</h1>
    <a href="/disconnect">Disconn</a>
    <div id="table"></div>
    <br>
  </form>
  <script type="text/javascript">
    var table = document.getElementById("table");

    var data = <%- data %>;
    var dir = "<%- dir %>";

    function tables(){
      var text = "";
      
      text += "Public Table";
      text += "<ul>";
      for(let row of data.rows){
        text += "<li>";
        text += "<a href='ui?dir="+row.table_name+"'>"+row[dt]+"</a>";
        text += "</li>";
      }
      text += "</ul>";

      table.innerHTML = text;
    }
    if(dir == "") tables();
  </script>
</body>
</html>
