<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Database</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
    <h1>Database Manager</h1>
    <a href="/disconnect">Disconn</a>
    <div id="table"></div>
    <br>
  </form>
  <script type="text/javascript">
    var table = document.getElementById("table");

    var data = <%- data %>;
    var dir = <%- dir %>;

    function lists(){
      var text = "";
      
      text += "Public Table";
      text += "<ul>";
      for(let row of data.rows){
        text += "<li>";
        text += "<a href='ui?dir="+row.table_name+"'>"+row.table_name+"</a>";
        text += "</li>";
      }
      text += "</ul>";

      table.innerHTML = text;
    }

    function tables(){
      var text = "";
      
      text += "<table>";
      
      text += "<tr>";
      for(let th in data.rows[0]){
        text += "<th>"+th+"</th>";
      }
      text += "</tr>";
      for(let row of data.rows){
        text += "<tr>";
        for(let dt of row){
          text += "<td>"+dt+"</td>";
        }
        text += "</tr>";
      }
      text += "</table>";
      table.innerHTML = text;
    }
    
    if(!dir) lists();
    else if(dir) tables();
  </script>
</body>
</html>
