*{
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
body{
  background: #457;
  color: #fff;
  margin: 0;
  padding: 8px;
  width: auto;
}
#content{
  width: auto;
  position: absolute;
  margin: 8px;
  right: 4px;
}
input[type=button], input[type=submit]{
  padding: 8px 16px;
  background: #235;
  color: #2f4;
  border: 1px solid #132;
  border-radius: 8px;
}
input[type=text], input[type=password], input[type=number]{
  width: 228px;
  background: #235;
  border: 1px solid #132;
  color: #2f4;
  border-radius: 8px;
  padding: 4px 16px;
  margin-bottom: 8px;
}
input[name=dbhost]{
  width: 180px;
}
input[name=dbport]{
  width: 80px;
}
a{
  color: #2f4;
}
