body{
  background: #4ae;
  color: #fff;
}
table{
  border-collapse: collapse;
}
th, td{
  border: 1px solid #245;
  padding: 8px 16px;
}
textarea{
  background: #245;
  color: #2f4;
  border: 1px solid #28f;
}
input[type=button], input[type=submit]{
  padding: 8px 16px;
  background: #245;
  color: #2f4;
  border: 1px solid #28f;
  border-radius: 8px;
}
  
