*{
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
body{
  background: #457;
  color: #fff;
  margin: 0;
  padding: 8px;
  width: 100%;
}
#content{
  width: 100%;
  position: absolute;
  padding: 8px;
}
table{
  border-collapse: collapse;
}
th, td{
  padding: 8px 16px;
  color: #235;
}
textarea{
  background: #235;
  color: #2f4;
  border: 1px solid #132;
  border-radius: 8px;
  resize: none;
  width: 100%;
  height: 200px;
}
input[type=button], input[type=submit]{
  padding: 8px 16px;
  background: #235;
  color: #2f4;
  border: 1px solid #132;
  border-radius: 8px;
}
a{
  color: #2f4;
}
#table{
  width: 100%;
  overflow-x: scroll;
}
tr{
  background: #fff;
  border-radius: 8px;
}
tr:nth-child(even) {
  background: #eff;
}
